alembic==1.16.1
blessed==1.21.0
blinker==1.9.0
bpython==0.25
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.1
curtsies==0.4.2
cwcwidth==0.1.10
Flask==3.1.1
Flask-HTTPAuth==4.8.0
flask-marshmallow==1.3.0
Flask-Migrate==4.1.0
flask-moreshell==0.1.5
Flask-SQLAlchemy==3.1.1
greenlet==3.2.2
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.10
MarkupSafe==3.0.2
marshmallow==4.0.0
marshmallow-sqlalchemy==1.4.2
passlib==1.7.4
Pygments==2.19.1
python-dotenv==1.1.0
pyxdg==0.28
requests==2.32.3
SQLAlchemy==2.0.41
typing_extensions==4.13.2
urllib3==2.4.0
wcwidth==0.2.13
Werkzeug==3.1.3
